<h1 style="padding-bottom:10px"><%=current_user.username%>'s plans</h1>

<% @meal_plans.each do |meal_plan| %>

	<div class="post">

		<p class="meta"><span class="date"> <%= meal_plan.created_at.asctime %> 
		
		<div class="mealplan_index_wrapper">				
			<div class="mealplan_index_titledescript">
				<h2 class="mealplan_index_title"><%= link_to meal_plan.name, meal_plan %> </h2>
			</div>
			
			<div class="mealplan_index_options">
				<%= link_to '<span> Destroy </span>', meal_plan, :confirm => 'Are you sure?', :method => :delete, :class=>'squarebutton' %>
			</div>
		</div>
	</div>   
	
<% end %>
<%= link_to 'Home', recipes_path%>
