<h1 class="welcome_title">Welcome 
<% if(current_user) %> 
<%= current_user.username %> 
<% end %>
</h1>

<div class="ubercolortabs">
<ul>
<li><%= link_to "<span> Browse Recipes </span>", :controller=>'recipes', :action=>'index'%></li>
<% if @meal_plans%>
<li><%= link_to "<span> Browse Meal Plans </span>", {:controller=>'meal_plans', :action=>'index'}, :class=>'selected'%></li>
<%else%>
<li><%= link_to "<span> Browse Meal Plans </span>", :controller=>'meal_plans', :action=>'index'%></li>
<%end%>
</ul>
</div>

<div class="ubercolordivider"> </div>

<% @meal_plans.each do |meal_plan| %>
  <div class="post">

		<div class="meta"><span class="date"> <%= meal_plan.created_at.asctime %>  </div>
		
		<div class="mealplan_index_wrapper">				
			<div class="mealplan_index_titledescript">
				<h2 class="mealplan_index_title"><%= link_to meal_plan.name, meal_plan %> </h2>
				<div class="mealplan_index_descrip"> <%= meal_plan.description %></div>
			</div>
			
			<div class="mealplan_index_pictures">
				<% random_recipes = meal_plan.recipes.sort_by{rand}%>
				<% for index in 0...5%>
					<% if random_recipes[index]%>
						<% if random_recipes[index].photo.url != "/photos/original/missing.png"%>
							<%= link_to image_tag (random_recipes[index].photo.url), random_recipes[index] %>
						<%end%>
					<%end%>
				<%end%>
			</div>
		</div>
</div>   
<% end %>
