<h1>New meal_plan</h1>

<% form_for(@meal_plan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<table>
	<tr>
		<th>Recipe Title</th>
	</tr>
	<% for recipe in @my_recipes %>
		<tr>
			<td><%=h recipe.title %></td>
		</tr>
	<% end %>
</table>
	
<%= link_to 'Back', meal_plans_path %>
