<h1> Meal Plan Search Results for "<%=@input%>"</h1>

<div class="ubercolortabs">
<ul>
<li><%= link_to "<span> Browse Recipes </span>", :controller=>'recipes', :action=>'index', :input=>@input%></li>
<% if @results%>
<li><%= link_to "<span> Browse Meal Plans </span>", {:controller=>'meal_plans', :action=>'index', :input=>@input}, :class=>'selected'%></li>
<%else%>
<li><%= link_to "<span> Browse Meal Plans </span>", :controller=>'meal_plans', :action=>'index', :input=>@input%></li>
<%end%>
</ul>
</div>

<div class="ubercolordivider"> </div>

<% @results.each do |meal_plan| %>
  <div class="post">

		<div class="meta"><span class="date"> <%= meal_plan.created_at.asctime %>  </div>
		
		<div class="mealplan_index_wrapper">				
			<div class="mealplan_index_titledescript">
				<h2 class="mealplan_index_title"><%= link_to meal_plan.name, meal_plan %> </h2>
				<div class="mealplan_index_descrip"> <%= meal_plan.description %></div>
			</div>
			
			<div class="mealplan_index_pictures">
				<% random_recipes = meal_plan.recipes.sort_by{rand}%>
				<% for index in 0...5%>
					<% if random_recipes[index]%>
						<%= link_to image_tag (random_recipes[index].photo.url), random_recipes[index] %>
					<%end%>
				<%end%>
			</div>
		</div>
	</div>   
<% end %>
