<h1> Meal Plan Search Results for "<%=@input%>"</h1>
<div class="search_options">
<%= link_to '<span> Search Recipes </span>', :controller => "recipes", :id => 0, :action => "search", :input => @input, :class=>'squarebutton'%>
</div>


<% @results.each do |meal_plan| %>
  <div class="post">

		<div class="meta"><span class="date"> <%= meal_plan.created_at.asctime %>  </div>
		
		<div class="mealplan_index_wrapper">				
			<div class="mealplan_index_titledescript">
				<h2 class="mealplan_index_title"><%= link_to meal_plan.name, meal_plan %> </h2>
				<div class="mealplan_index_descrip"> <%= meal_plan.description %></div>
			</div>
			
			<div class="mealplan_index_pictures">
				<% random_recipes = meal_plan.recipes.sort_by{rand}%>
				<% for index in 0...5%>
					<% if random_recipes[index]%>
						<%= link_to image_tag (random_recipes[index].photo.url), random_recipes[index] %>
					<%end%>
				<%end%>
			</div>
		</div>
	</div>   
	
<% end %>

<%= link_to 'Back', meal_plans_path%>