<h1 style="padding-bottom:5px;"> <%=h @meal_plan.name %> </h1>
  
<h3> Number of recipes: <%=h @meal_plan.number %> </h3>


<% @meal_plan.recipes.each do |recipe| %>
<div class="uploaded_recipe">
	<div class="uploaded_recipes_titlephoto">
		<h2 class="uploaded_recipes_recipetitle"><%= link_to recipe.title, recipe %> </h2>
		<div class="uploaded_recipe_resize">
				<% if recipe.photo.url != "/photos/original/missing.png"%>
						<%= image_tag recipe.photo.url %>
				<%end%>
		</div>
	</div>
	<div class="uploaded_recipes_options">
		<div class="buttonwrapper">
			<%= link_to '<span> Delete </span>', recipe, :confirm => 'Are you sure?', :method => :delete, :class => 'squarebutton' %>
		</div>
		<div class="buttonwrapper">
			<%= link_to '<span> Edit Recipe </span>', edit_recipe_path(recipe), :class => 'squarebutton' %>
		</div>
	</div>
</div>
<% end %>


<%= link_to 'Edit Name', edit_meal_plan_path(@meal_plan) %> |
<%= link_to 'Back', meal_plans_path %>
