<div id="show_meal_plan_header">
<div id="show_meal_plan_left_header">
<h1> <%=h @meal_plan.name %> </h1>
</div>
<div id="show_meal_plan_right_header">
<% if current_user %>
    <%= link_to '<span> Add to recipe list </span>', {:controller => "recipe_lists", :action => "addMealPlan", :id => @meal_plan.id, :user => current_user}, :class=>'squarebutton' %>
<% else %>
    <%= link_to '<span> Add to recipe list </span>', login_path, :class=>'squarebutton' %>
<% end %>
</div>
</div>
<div id="show_meal_plan_divider">
<h3><%=h @meal_plan.description %></h3>  
<h3> Number of recipes: <%=h @meal_plan.number %> </h3>
</div>

<% @meal_plan.recipes.each do |recipe| %>
<div class="uploaded_recipe">
	<div class="uploaded_recipes_titlephoto">
		<h2 class="uploaded_recipes_recipetitle"><%= link_to recipe.title, recipe %> </h2>
		<div class="uploaded_recipe_resize">
				<% if recipe.photo.url != "/photos/original/missing.png"%>
						<%= image_tag recipe.photo.url %>
				<%end%>
		</div>
	</div>
	<div class="uploaded_recipes_options">
		<div class="buttonwrapper">
			<%= link_to '<span> Delete </span>', {:confirm => 'Are you sure?', :id => @meal_plan.id, :recipe_id => recipe.id, :controller => "meal_plans", :action => "removeRecipeFromExisting"}, :class => 'squarebutton' %>
		</div>
		<div class="buttonwrapper">
			<%= link_to '<span> Edit Recipe </span>', edit_recipe_path(recipe), :class => 'squarebutton' %>
		</div>
	</div>
</div>
<% end %>

<%= link_to 'Edit', edit_meal_plan_path(@meal_plan) %> |
<%= link_to 'Back', meal_plans_path %>
