<h1>Editing recipe</h1>

<% form_for @recipe, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :directions %><br />
    <%= f.text_area :directions %>
  </p>
  <p>
    <%= "Complete time (in minutes)" %><br />
    <%= f.text_field :completion_time %>
  </p>
  
   <p>
  	<%= f.file_field :photo  %>
  </p>
  
  
  <h2>Ingredients</h2>
  <% ingredient_amount_html_id = 0 %>
  <% f.fields_for :ingredient_amounts do |i| %>
  <%if i.object.id != nil%>
	<span class="ingredient_amount" id="ingredient_amount_<%= ingredient_amount_html_id %>">
  <%else%>
	<span class="ingredient_amount hidden" id="ingredient_amount_<%= ingredient_amount_html_id %>">
  <%end%>
  <div class="ingredients_wrapper">
	 <div class="ingredients_form">
	  <p>
		<%= i.label :ingredient_name %>
		<%= i.text_field_with_auto_complete :ingredient_name, {}, {:url => ingredient_amounts_path(:js), :frequency => 0.1, :min_chars => 2, :method => :get, :with => "'search=' + element.value"} %>
	  </p>
	  <p>
	    <%= i.label :number %>
	    <%= i.text_field :number %>
	  </p>
	  <p>
	    <%= i.label :unit %>
	    <%= i.text_field :unit %>
	  </p>
	   </div>
			
	<div class="ingredients_options">

	  <%= i.hidden_field :_destroy %>
	  <%= link_to_function "<span> Delete </span>", 
		"$('recipe_ingredient_amounts_attributes_#{ingredient_amount_html_id}__destroy').setValue('1');
		$('ingredient_amount_#{ingredient_amount_html_id}').hide();", :class=>'squarebutton' %>
   </div>
   		</div>
   </span>
	  
	  
	  <% ingredient_amount_html_id += 1 %>
	  <% end %>
	  <br>
	  <%= link_to_function "<span> Add Ingredient </span>", "$$('.hidden')[0].removeClassName('hidden').show()", :class=>'squarebutton' %>
  <p>
  	<div class="upload_recipe">
    <%= link_to_function "<span> Upload Recipe </span>", "$('edit_recipe_#{@recipe.id}').submit();", :class=>'upload_recipe_button'%>
	</div>
  </p>
<% end %>

<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>
