<h1>Editing recipe</h1>

<% form_for(@recipe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :directions %><br />
    <%= f.text_area :directions %>
  </p>
  <p>
    <%= f.label :completion_time %><br />
    <%= f.text_field :completion_time %>
  </p>
  <h2>Ingredients</h2>
  <% ingredient_amount_html_id = 0 %>
  <% f.fields_for :ingredient_amounts do |i| %>
  <%if i.object.id != nil%>
	<span class="ingredient_amount" id="ingredient_amount_<%= ingredient_amount_html_id %>">
  <%else%>
	<span class="ingredient_amount hidden" id="ingredient_amount_<%= ingredient_amount_html_id %>">
  <%end%>
  <h3>Ingredient</h3>
	  <p>
		<%= i.label :ingredient_name %>
		<%= i.text_field_with_auto_complete :ingredient_name, {}, {:url => ingredient_amounts_path(:js), :method => :get, :with => "'search=' + element.value"} %>
	  </p>
	  <p>
	    <%= i.label :number %>
	    <%= i.text_field :number %>
	  </p>
	  <p>
	    <%= i.label :unit %>
	    <%= i.text_field :unit %>
	  </p>
	  <%= i.hidden_field :_destroy %>
	  <%= button_to_function "Delete", 
		"$('recipe_ingredient_amounts_attributes_#{ingredient_amount_html_id}__destroy').setValue('1');
		$('ingredient_amount_#{ingredient_amount_html_id}').hide();" %>
	  </span>
	  <% ingredient_amount_html_id += 1 %>
	  <% end %>
	  <br>
	  <%= button_to_function "Add Ingredient", "$$('.hidden')[0].removeClassName('hidden').show()" %>
	  <p>
	    <%= f.submit 'Update' %>
	  </p>
 <% end %>

<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>
