<h1>Editing recipe</h1>

<% form_for(@recipe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :directions %><br />
    <%= f.text_area :directions %>
  </p>
  <p>
    <%= f.label :completion_time %><br />
    <%= f.text_field :completion_time %>
  </p>
  <h2>Ingredients</h2>
  <% f.fields_for :ingredient_amounts do |i| %>
  <h3>Ingredient</h3>
  <p>
    <%= label_tag :ingredient_name %>
    <%= text_field_tag :ingredient_name, @ingredient_name %>
  </p>
  <p>
    <%= i.label :number %>
    <%= i.text_field :number %>
  </p>
  <p>
    <%= i.label :unit %>
    <%= i.text_field :unit %>
  </p>
  <% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
 <% end %>

<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>
