<h1>Welcome @name!</h1>


<div id="user_nav">
 <% if current_user %>
   <%= link_to "Edit Profile", edit_user_path(:current) %>
   <%= link_to "Logout", logout_path %>
 <% else %>
   <%= link_to "Register", new_user_path %>
   <%= link_to "Login", login_path %>
 <% end %>
</div>
<% @recipes.each do |recipe| %>
<div class="post">
	<p class="meta"><span class="date">Sunday, April 26, 2009</span> 7:27 AM Posted by <a href="#">Someone</a></p>
	<h2 class="title"><%= link_to recipe.title, recipe %></td></h2>
	<div class="entry">
		<%=recipe.directions%>
	</div>
</div>
<% end %>
