<h1>New recipe</h1>

<% form_for(@recipe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :directions %><br />
    <%= f.text_area :directions %>
  </p>
  <p>
    <%= f.label :completion_time %><br />
    <%= f.text_field :completion_time %>
  </p>
  
  <h2>Ingredients</h2>
  <% f.fields_for :ingredients do |ingredient_form| %>
    <h3>Ingredient</h3>
    <p>
      <%= ingredient_form.label :name %>
      <%= ingredient_form.text_field :name %>
    </p>
    <p>
      <%= ingredient_form.label :number %>
      <%= ingredient_form.text_field :number %>
    </p>
    <p>
      <%= ingredient_form.label :unit %>
      <%= ingredient_form.text_field :unit %>
    </p>
    <p>
      <%= ingredient_form.label :section %>
      <%= ingredient_form.text_field :section %>
    </p>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', recipes_path %>
