<h1>New recipe</h1>

<% form_for(@recipe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :directions %><br />
    <%= f.text_area :directions %>
  </p>
  <p>
    <%= f.label :completion_time %><br />
    <%= f.text_field :completion_time %>
  </p>
  <p>
    <%= f.label :recipelist_id %><br />
    <%= f.text_field :recipelist_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', recipes_path %>