<h1> My uploaded recipes </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Directions</th>
    <th>Completion time</th>
    <th>Recipelist</th>
	<th>Reviews</th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%=h recipe.title %></td>
    <td><%=h recipe.directions %></td>
    <td><%=h recipe.completion_time %></td>
    <td><%=h recipe.recipelist_id %></td>
	<td><%=h recipe.reviews.count %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', recipes_path %>
