<p>
  <b>Title:</b>
  <%=h @recipe.title %>
</p>

<p>
  <b>Directions:</b>
  <%=h @recipe.directions %>
</p>

<p>
  <b>Completion time:</b>
  <%=h @recipe.completion_time %>
</p>

<h3>Ingredients</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Unit</th>
    <th>Section</th>
  </tr>
<% for ingred_amount in @recipe.ingredient_amounts %>
  <tr>
    <td><%=h ingred_amount.ingredient.name %></td>
    <td><%=h ingred_amount.number %></td>
    <td><%=h ingred_amount.unit %></td>
    <td><%=h ingred_amount.ingredient.section %></td>
  </tr>
<% end %>
</table>

<h3>Reviews</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Review</th>
    <th>Rating</th>
  </tr>
<% for review in @recipe.reviews %>
  <tr>
    <td><%=h review.title %></td>
    <td><%=h review.review %></td>
    <td><%=h review.rating %></td>
  </tr>
  <% end %>
</table>
 
<%= link_to 'Edit', edit_recipe_path(@recipe) %>
<%= link_to 'Back', recipes_path %>
<%= link_to 'Add Review', new_review_path(:id=>@recipe.id)%>
<%= link_to 'Add to recipe list', :controller => "recipe_lists", :action => "update2", :id => @recipe.id%>
