<div id="show_recipe_wrap">
	
	<div id="show_recipe_header">
		<h1 class="title"> <%=h @recipe.title %> </h1>
		<p class="meta"><span class="date"> <%= @recipe.created_at.asctime %> 
		<% if @recipe.user%>
			Posted by <%= link_to @recipe.user.username, :controller => 'recipes' , :action => 'showMyRecipes', :user => @recipe.user, :id => '2' %></p>
		<p>
		  <b> Average Review:</b>
		  <%=h @recipe.average_rating %> stars
		</p>
		<%end%>
		<p>
			<div class="resize"> <%= image_tag @recipe.photo.url%> </div>
		</p>
		<p>
			<%= @recipe.description %>
		</p>
	</div>
	
	<div id="directions_column">
		<h2>Directions</h2>
		<div class="directions">
			<%=h @recipe.directions %>
		</div>
	</div>
		
	<div id="ingredients_column">
		<h2>Ingredients</h2>
		<% for ingred_amount in @recipe.ingredient_amounts %>
			<div class="ingredient">
				<%=h ingred_amount.number %>
			    <%=h ingred_amount.unit %>
			    <%=h ingred_amount.ingredient.name %>
			</div>
		<% end %>
	</div>
	<div id="show_recipe_footer">
		<h2>Reviews</h2>
		<% form_remote_tag(:html => {:class =>'rating_ballot'}, :url => {:controller => '/reviews', :action => 'create'}, :update => 'reviews_list', :position => :top) do %>
		  <p>
			<%= hidden_field :review, :title, :value => "" %>
		  </p>
		  <p>
			<%= label_tag :review %><br />
			<%= text_area :review, :review, :rows => 3 %>
		  </p>
		  <p>
			<%= label_tag :rating %><br />
			<%= label(:review, "rating_1", content_tag(:span, '1'), {:class => "rating", :id =>"1"}) %>
			<%= radio_button :review, :rating, 1, :checked => true, :class => 'rating_button' %>
			<%= label(:review, "rating_2", content_tag(:span, '2'), {:class => "rating", :id =>"2"}) %>
			<%= radio_button :review, :rating, 2, :class => 'rating_button' %>
			<%= label(:review, "rating_3", content_tag(:span, '3'), {:class => "rating", :id =>"3"}) %>
			<%= radio_button :review, :rating, 3, :class => 'rating_button' %>
			<%= label(:review, "rating_4", content_tag(:span, '4'), {:class => "rating", :id =>"4"}) %>
			<%= radio_button :review, :rating, 4, :class => 'rating_button' %>
			<%= label(:review, "rating_5", content_tag(:span, '5'), {:class => "rating", :id =>"5"}) %>
			<%= radio_button :review, :rating, 5, :class => 'rating_button' %>
		  </p>
			<%= hidden_field :review, :recipe_id, :value => @recipe.id %>
		 <br> 
		  <p>
			<%= submit_tag 'Save Review' %>
		  </p>
		<% end %>
		<span id="reviews_list">
		<% @recipe.reviews.each do |review| %>
			<%= render :partial => 'reviews/review', :object => review %>
		<% end %>
		</span>
		<% if current_user.id == @recipe.user_id%>
			<%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %> |
		<% end %>
		<%= link_to 'Back to Recipes', recipes_path %> |
		<% if current_user %>
			<%= link_to 'Add to recipe list', :controller => "recipe_lists", :action => "update2", :id => @recipe.id, :user => current_user %>
		<% else %>
			<%= link_to 'Add to recipe list', login_path %>
		<% end %>
	</div>
</div>
