<h2 class="recipe_in_list_header"> Recipe List </h2>
<% recipe_date_html_id = 0 %>
<% @recipes.each do |recipe| %>
  <div class="recipe_in_list">
   <div class="recipe_in_list_title"> <%= link_to recipe.title, recipe %> </div> 
	
	<span class="hidden" id="recipe_date_<%= recipe_date_html_id %>">		
	<% form_for :event, :url => { :action => "add_recipe" } do |f| %>
		
		<p>
			<b>Select date </b><br />
			<%= f.date_select :recipe_date %>
		</p>
		<p>
			<%= f.submit "Submit" %>
			<%= f.hidden_field :recipe_id, :value => recipe.id %>
		</p>
	<% end %>
	</span>
	
	<span id="calendar_button_<%= recipe_date_html_id %>">
		<%= link_to_function "Add to calendar",
		"$('recipe_date_#{recipe_date_html_id}').toggle(); $('calendar_button_#{recipe_date_html_id}').toggle();
		$('hide_button_#{recipe_date_html_id}').toggle()" %>
	</span>
	
	<span class="hidden" id="hide_button_<%= recipe_date_html_id %>">
		<%= link_to_function "Hide",
		"$('recipe_date_#{recipe_date_html_id}').toggle(); 
		$('calendar_button_#{recipe_date_html_id}').toggle();
		$('hide_button_#{recipe_date_html_id}').toggle()" %>
	</span>
	
	<%= link_to ('Remove from list', delete_from_recipe_list_path(@recipe_list, recipe), :confirm => 'Are you sure?', :method => :delete)%>
	
	<% recipe_date_html_id = recipe_date_html_id + 1 %>
  </div>
<% end %>
<br />