<p>
  <b>Name:</b>
  <%=h @ingredient.name %>
</p>

<p>
  <b>Number:</b>
  <%=h @ingredient.number %>
</p>

<p>
  <b>Unit:</b>
  <%=h @ingredient.unit %>
</p>

<p>
  <b>Type:</b>
  <%=h @ingredient.type %>
</p>

<p>
  <b>Recipe:</b>
  <%=h @ingredient.recipe_id %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>