<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Review</th>
    <th>Stars</th>
    <th>Recipe</th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%=h review.title %></td>
    <td><%=h review.review %></td>
    <td><%=h review.stars %></td>
    <td><%=h review.recipe_id %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New review', new_review_path %>