<div class="post">
	<div class="reviewtitle"> <%= @review.rating %> stars. <%= link_to @review.title, @review %></div>
	<p class="meta"><span class="date"> <%= @review.created_at.asctime %> Posted by <a href="#">Someone</a></p>
	<div class="entry">
	<%=@review.review%>
	</div>
</div>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', recipe_path(@review.recipe_id) %>