<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Recipes: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>

<%= stylesheet_link_tag "base" %>
<body>
<div id="header-wrapper">
	<div id="header">
		<div id="menu">
			<ul>
				<li><%= link_to 'Home', recipes_path %></li>
				<li><%= link_to 'Upload Recipe', new_recipe_path %></li>
				<li><a href="#">Search</a></li>
				<li>
				<% if current_user %>
					<%= link_to 'Recipe list', :controller => 'recipe_lists', :action => 'show', :user => current_user%>
				<% else %>
					<%= link_to 'Recipe list', login_path %>
				<% end %>
								
				</li>
			</ul>
		</div>
		<!-- end #menu -->
		<div id="search">
			<% form_tag :controller=>'recipes', :action => 'search' do %>
				<fieldset>
					<input type="text" name="input" id="search-text" size="15" />
					<input type="submit" id="search-submit" value="GO" />
				</fieldset>
				<% end %>
		</div>
		<!-- end #search -->
	</div>
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="logo">
	<h1><%= link_to 'Foodrun', recipes_path  </a></h1>
	<p><em> Planning groceries has never been so easy </a></em></p>
</div>
<hr />
<!-- end #logo -->
<div id="page">
	<div id="page-bgtop">
		<p style="color: green"><%= notice %></p>
		<div id="content">
			<%= yield %>
		</div>
		<div id="sidebar">
			<ul>
				<li>
					<h2>Week's Top Recipe</h2>
					<p>Apple Pie: This amazing American classic is sure to please the family and friends during the holiday season.<p>
				</li>
				<li>
					<h2>Featured Recipes </h2>
					<ul>
						<li><a href="#">Beef Lasagna</a></li>
						<li><a href="#">Goat Cheese Ravioli</a></li>
						<li><a href="#">Beef Noodle Soup</a></li>
						<li><a href="#">Honeymustard chicken</a></li>
						<li><a href="#">Meatloaf</a></li>
						<li><a href="#">Pepperoni Pizza</a></li>
						<li><a href="#">Grilled Cheese</a></li>
						<li><a href="#">Tuna Melt</a></li>
					</ul>
				</li>
				<li>
					<h2>Top Recipes</h2>
					<ul>
						<li><a href="#">Baby crab cakes</a></li>
						<li><a href="#">Chicken cutlet submarines</a></li>
						<li><a href="#">Manhattan Clam Chower</a></li>
						<li><a href="#">Eggrolls</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
</div>

<div id="footer"> FoodRun © 2010 · Swaraj Banerjee · Justin Chu · Cliff Engle · Harry Jiang </div>
</body>
</html>
